:root {
  --font: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', helvetica, arial, sans-serif;
  --black: #000;
  --white: #fff;
  --gray: #666;
}

body {
  font-family: var(--font);
  line-height: 1.5;
  margin: 0;
  padding: 5vw;
  background: var(--white);
  color: var(--black);
}

#year-tabs {
  margin-bottom: 4rem;
}

#year-tabs button {
  font-size: 2rem;
  font-weight: 900;
  background: none;
  border: none;
  padding: 0;
  margin-right: 2rem;
  color: var(--gray);
  cursor: pointer;
}

#year-tabs button.active {
  color: var(--black);
}

h1 {
  font-size: clamp(4rem, 20vw, 12rem);
  font-weight: 900;
  margin: 0 0 2rem;
  line-height: 1;
}

.quarter {
  font-size: 2rem;
  font-weight: 900;
  margin: 4rem 0 2rem;
}

.sprint {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 2rem;
  padding: 1rem 0;
}

.days {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.week {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

.day {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.06em;
  text-align: center;
}

.day.empty {
  visibility: hidden;
}

.sprint-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.sprint-emoji {
  font-size: 2rem;
}

.workdays {
  color: var(--gray);
}
